/**
 * Contact
 */
.contact {
    .phone {
        text-decoration: none;
        color: #494a4a;
    }
    .contact-content {
        p {
            margin: 0;
        }
    }
    .location-map {
        position: relative;
        a.view-larger {
            font-family: Roboto,Arial;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            color: #3a84df;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
            padding: 1px;
            box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
            border-radius: 2px;
            background-color: white;
            &:hover {
                text-decoration: underline;
            }
            div {
                padding: 5px 14px 5px 14px;
            }
        }
    }
}

/**
 * Team
 */
.team-member {
    position: relative;
    margin-bottom: 30px;
    text-decoration: none;
    img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    .team-title {
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        height: 57px;
        background-color: #999;
        color: #fff;
        font-size: 19px;
        line-height: 54px;
    }
    &:hover {
        img {
            outline: 4px solid #00a1e4;
        }
        .team-title {
            background-color: #00a1e4;
        }
    }
}

.team-single {
    p {
        line-height: 24px;
    }
    .job-title {
        font-style: italic;
    }
    img {
        width: 100%;
        height: auto;
    }
    .btn {
        padding: 10px;
        font-weight: bold;
        margin: 10px 0 30px 0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        border-radius: 0;
        &.back {
            color: #00a1e4;
        }
        &.v-card {
            text-align: left;
            background-color: #14516a;
            color: #fff;
            i {
                font-weight: bold;
                font-size: 23px;
            }
        }
    }
}

/**
 * Investors
 */
body.page-investors {
    min-width: 0;
    color: #000;
    .investormain {
        .headline {
            font-size: 21px !important;
            color: #486ca6 !important;
            font-weight: 700 !important;
            font-family: 'Lato', sans-serif !important;
        }
        form {
            font-size: 12px;
            font-family: 'Lato', sans-serif;
            text-align: left;
            width: 300px;
            margin: 0 auto;
            a {
                color: #486ca6;
                text-decoration: none;
                &:hover {
                    color: #000;
                }
            }
            label {
                display: inline;
            }
            input[type='text'], input[type='password'] {
                width: 100%;
            }
            input[type='submit'] {
                float: right;
            }
        }
    }
}
